.body{
  background-color: rgb(245, 244, 244);
  display: flex;
}
.data{
  padding: 25px;
  width: 500px;
  height: 400px;
  overflow-y: auto;
}

.graph{
  background-color: #ffffff;
  padding: 25px;
  width: 1000px;
}
.mat-elevation-z8{
  border-radius: 5px;
  box-shadow: none;
  background-color: #ffffff;
  padding: 20px;
}
.selected {
  background-color: rgb(188, 188, 188); 
}

