<div class="body">
  <div class="data">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef (click)="onHeaderClicked()"> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" 
               [class.selected]="row === selectedRow" 
               (click)="onRowClicked(row)"></mat-row>
    </mat-table>
  </div>
  <div class="graph">
    <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
  </div>
</div>.